
.happenings h1{
    font-size: 50px;
    text-align: center;
    padding: 80px;
}

.happenings p{

    
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    font-size: 1.7rem;
    width: auto;
    padding: 1rem;
    
}



.carousel{
    width:100%;
    height: 900px;
    background-color: black;

}

.carouselInner{
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;

}

.carouselInner .left{
    flex:5%;
    height: 100%;
    background-color: rgb(0, 0, 0,0.4); 
    display: grid;
    place-items: center;
    color: white;

}

.carouselInner .center{
    flex:90%;
    height: 100%;
 
}

.carouselInner .right{
    flex:5%;
    height: 100%;
    background-color: rgb(0, 0, 0,0.4); 
    display: grid;
    place-items: center;
     color: white;
}

.artist{
    background-color: rgb(249, 216, 209);
    text-align: center;
}
   .artist img{

        width: 250px;
        height: 350px;
        margin: 0 ; 
        padding: 30px;
        border-radius: 12%;
       
    }
  
    
 figure {
    display:inline-block;
}

 figcaption {
    text-align: center;
    font-size: 20px;
    padding-bottom: 20px;
   
}


@media screen and (max-width: 768px) {
    .happenings h1 {
      font-size: 40px;
      padding: 40px;
    }
  
    .happenings p {
      font-size: 20px;
      line-height: 30px;
      width: 90%;
      padding: 10px;
    }
  
    .carousel {
      height: 500px;
    }
  
    .artist img {
      width: 200px;
      height: 300px;
      padding: 20px;
    }
  }