.home {
  width: 100%;
  height: 100%;
}

.video-bg {
  width: 100%;
  height: auto;
}

.content {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  color: white;
}

.startbutton {
  background-color: #04aa6d;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  border-radius: 20px;
}

.startbutton:hover {
  background-color: #3e8e41;
}

.startbutton:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.startHeader {
  font-size: 4.5em;
}

.startText {
  font-size: 2.5rem;
}

.aboutParagraph {
  font-size: 2.6rem;
  text-align: center;
}

.container-aboutUs {
  background-color: rgb(249, 216, 209);
  padding: 16vh;
  display: flex;
  justify-content: center;
}

h3 {
  text-align: center;
}

.hamburgerMonth {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  background: black;
  padding: 0px 25px;
  font-size: 1.125rem;
  min-height: 375px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

.hamburgerContent {
  flex: 1; /* Ta upp all tillgänglig plats för texterna */
  display: flex;
  flex-direction: column;
  margin-right: 20px; /* Lägg till vänstermarginal */
}

.hamburgerMonth h1,
.hamburgerMonth p {
  color: white;
  padding: 20px;
}

.hamburgerMonth img {
  height: 40%;
  width: 40%;
  align-self: center; /* Centrera bilden vertikalt */
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 30%;
  position: relative;
  height: 0;
  width: 80%;
  margin: auto;
  border-radius: 30px;
}

.map-responsive iframe {
  left: 0;
  top: 0;
  border: none;
  height: 100%;
  width: 100%;
  position: absolute;
}

.map {
  background-color: rgb(249, 216, 209);
}

.home-info {
  text-align: center;
  padding: 1em;
}

.home-info h1 {
  font-size: 40px;
  margin-bottom: 20px;
  color: black;
}

.opening-hours {
  line-height: 1.8em;
  padding-bottom: 1em;
}

.opening-hours ul {
  font-size: 16px;
  text-align: center;
  font-weight: 700;
}

.opening-hours h4 {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 0.5rem;
}

.opening-hours h3 {
  text-align: center;
  font-size: 1.8rem;
  padding-bottom: 1em;
}

.open {
  font-size: 1.2rem;
  font-weight: 600;
}

.logotype {
  img {
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 250px;
  }
}

.open-time h3 {
  color: black;
}

.open-time h4 {
  color: black;
}

@media screen and (max-width: 768px) {
  .hamburgerMonth {
    flex-direction: column;
    align-items: center;
  }

  .hamburgerContent {
    margin-left: 0;
    text-align: center;
  }

  .aboutParagraph {
    font-size: 1.5rem;
    max-width: 100%;
  }

  .content {
    top: 40%;
  }

  .startHeader {
    font-size: 2em;
  }

  .startText {
    font-size: 1.2em;
  }

  .startbutton {
    font-size: 1em;
  }
}

@media screen and (max-width: 480px) {
  .content {
    top: 30%;
  }

  .startHeader {
    font-size: 1.5em;
  }

  .startText {
    font-size: 1em;
  }

  .startbutton {
    font-size: 0.8em;
  }
}
