.list-items {
    max-width: 800px;
}

.list-items .un-list {
    width: 100%;
}

.list-items .un-list .list-list {
    display: flex;
    padding: 10px 5px;
   
}

.list-items ul li h3 {
    margin-left: auto;
}

h3, h4 {
    color: #8d7612;
    padding: 4px;
}

.list-items img {
    width: 150px;
    height: 150px;
    border-radius: 20%;
    margin-right: 20px;
    margin-bottom: 30px;
}

.list-items .add,
.list-items .remove {
    height: 30px;
    width: 30px;
}

.food-item-counter {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border-radius: 40px;
    background-color: #F0FFFF;
}