.list-items{
    margin: auto;
    max-width: 800px;
}

.list-items .un-list{
    width: 100%;

}


.list-items .un-list .list-list{
    display: flex;
    padding: 10 px 5px;
    border-bottom: 1 px dashed blue;

}


.list-items ul li h3{
    margin-left: auto;
   
}

h3{
    color:#8d7612 ;
}